.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 11;
    cursor: pointer; /* Add a pointer on hover */
}

.info-modal {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-align: left;
}

.info-popup {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 20em;
    border-radius: 10px;
    z-index: 12;
    animation: pop-in 0.2s ease-in-out;
    font-size: 28px;
}

.info-popup header {
    font-weight: 400;
    position: relative;
    padding: 10px 20px; 
    border-bottom: solid 1px black;
    border-radius: 10px 10px 0 0;
    background-color: #614fcc;
    color: white;
}

.info-popup section {
    flex-direction: column;
    padding: 10px 20px 10px 20px; 
    font-size: 20px;
    font-weight: lighter;
}

.info-desc {
    border-bottom: 2px solid gray;
    padding-bottom: 0.5em;
    width: 100%;
}

.info-popup section button {
    display: block;
    margin: auto;
}

.info-popup section > * {
    margin: 5px 0;
}

.close {
    position: relative;
    right: 0px;
    border: none;
    padding: 0;
}

.close::after {
    font-weight: bold;
    right: 0px;
    position: absolute;
    background-color: none;
    content: "\00d7";
    cursor: pointer;
}

.hidden {
    display: none;
}

#info-icon {
    font-size: 24px;
    color: #433497
}

#info-icon:hover {
    color: var(--purple);
    cursor: pointer
}