.algo-modal-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 5;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.algo-modal {
    display: none;
}

.algo-modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.algo-modal-header .algo-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.algo-modal-header .algo-close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.algo-modal-body {
    padding: 10px 15px;
    text-align: left;
}

.algo-desc {
    padding: 10px;
    border-bottom: 1px solid black;
}

.overlay-toggler-block {
    position: fixed;
    opacity: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay-toggler {
    display: none;
}

.popover-button {
    border: 4px solid black;
    border-radius: 10px;
    background-color: white;
    transition: 200ms;
}

.popover-button:hover {
    background-color: var(--purple);
    color: white;
    transition: 200ms;
}