.single-input-container {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    text-align: center;
    margin: auto;
    margin-right: 5px;
    border-radius: 0.5rem;
}

.single-input {
    border: none;
    max-width: 3rem;
    text-align: center;
}

.single-input::placeholder {
    font-size: 14px;
}