.graph-controls-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.buttonClass {
  background-color: white;
  color: var(--purple);
  border-radius: 5px;
  border: 2px solid #3e488f;
  margin-left: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
}

.buttonClass:hover {
  background-color: var(--purple);
  color: white;
}

.hidden {
  display: none;
}

.errorText {
  padding-top: 12px;
  color: red;
  height: 52px;
}

.graph-input {
  width: 100%;
  height: 100%;
  resize: none;
}

