.queue-container {
    width: 100%;
    height: 100%;
    padding: 10px 15% 10px 15%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.queue-item-holder {
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 5px 0px 5px 0px;
    width: 100%;
    height: 340px;
}

.queue-item {
    text-align: center;
    padding: 0;
    position: relative;
    border: 1px solid #9124d4;
    font-size: 18px;
    width: 90%;
    min-width: 24px;
    margin: auto;
    background-color: #e7c1ff;
    border-radius: 15px;
}

.queue-item-enter {
    animation: queue-item-enter .35s ease-out;
}

.queue-item-exit {
    animation: queue-item-exit .35s ease-out;
}

.queue-item-extra {
    background-color: white;
    border: none;
}

#queue-front, #queue-back {
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#queue-back {
    color: rgb(1, 171, 9);
}

#queue-front {
    color: rgb(255, 0, 0);
}

@keyframes queue-item-enter {
    from {
        translate: 0 -50px;
        opacity: 0;
    }
    to {
        translate: 0;
        opacity: 1;
    }
}

@keyframes queue-item-exit {
    from {
        translate: 0;
        opacity: 1;
    }
    to {
        translate: 0 50px;
        opacity: 0;
    }
}