.board {
    border: 1px solid black;
    display: flex;
    margin: auto;
}

.highlight {
    background-color: #FCF5B9;
}

.highlight-success {
    background-color: #96FA9A !important;
}

.highlight-error {
    background-color: #fc7c76;
}

.highlight-domain {
    background-color: #ffd0ce;
}

.table-container {
    display: flex;
    margin: auto;
    width: auto;
    height: 400px;
}

.elements {
    table-layout: fixed;
    margin: auto;
    border-collapse: separate;
    border-spacing: 10px 0;
}

.elements td {
    width: 3rem;
    height: 3rem;
    text-align: center;
}

.value-row {
    font-size: 20px;
}

.index-row {
    font-size: 16px;
}

.value-block {
    border: 2px solid black;
    box-shadow: 2px 3px 3px #969696;
}

.value-block:hover {
    cursor: pointer;
    background-color: #c8ffcb;
}