.step-tracker-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.console {
    font-family: monospace;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    overflow-y: scroll;
    width: 90%;
    max-width: 40em;
    border: 1px solid gray;
    font-size: 16px;
    line-height: 1.5em;
    transition: height 0.25s ease-in-out;
    scroll-behavior: smooth;
    border-radius: 5px;
}

.console div {
    /* hanging indent */
    text-indent: -6rem;
    padding-left: 6rem;
}

#pin-icon {
    font-size: 18px;
    position: relative;
    top: 4px;
    right: -4px;
    float: right;
    color: var(--purple);
    cursor: pointer;
    transition: 0.25s;
}

#pin-icon:hover {
    color: #4e3abe;
}

.console {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.console::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}