.controls {
    display: flex;
    margin: 10px;
    justify-content: center;
} 

.btn .fa {
    color: var(--purple);
    transition-duration: 0.1s;
}


.btn {
    border: 2px solid black;
    margin-left: 0.5rem;
    margin: 0.5rem 0;
}

.controls .btn, .array-input-container .btn {
    width: 2.75rem;
    margin: 5px;
}

.btn:hover {
    background-color: var(--purple);
    color: white
}

.btn:hover .fa {
    color: white
}

.array-input {
    text-align: center;
    border-radius: 0.5rem;
    margin: 5px 0px;
    padding: 6px 30px 6px 8px;
    border: 1px solid rgba(180, 88, 24, 0.8);
    width: 100%;
    background-color: rgba(180, 88, 24, 0.2);
}

.array-input:focus {
    outline: 1px solid rgba(180, 88, 24, 0.8);
}

/* https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.array-input-container {
    position:relative; /* making the .tooltip span a container for the tooltip text */
    width: 95%;
    max-width: 40em;
    margin: auto;
    padding: 0;
    display: flex;
}

#warning-icon {
    position: absolute;
    right: 60px;
    top: 16px;
    font-size: 16px;
    color: rgb(241, 74, 23)
}

.warning {
    border: 1px solid red;
}

.warning:focus {
    outline: 1px solid red ;
}

.glow-border {
    box-shadow: 0 0 5px 3px rgb(185, 160, 207) !important;
}

.build-glow-border {
    box-shadow: 0 0 7px 4px rgb(165, 111, 175) !important;
}

.glow-border-anim {
    animation: glow 0.75s ease-in-out infinite alternate;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.step-highlight-border {
    border: 1px rgb(121, 121, 121);
    border-style: groove;
    border-radius: 8px;
}

#speed-slider-container {
    margin: 0;
}

.step-progress-bar {
    top: 5px;
    height: 2em;
    width: 10em;
    background-color: #36117e;
    margin: 0 5px;
    position: relative;
    text-align: center;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    outline: 1px solid black;
    overflow: hidden;
}

.step-progress {
    background-color: #71b418;
    height: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    transition: width ease-in-out 0.1s;
    border-radius: 5px;
}

.step-label {
    z-index: 3;
    color: rgb(255, 255, 255);
    position: absolute;
    user-select: none;
}

.step-progress-bar > * {
    pointer-events: none;
}

@keyframes glow {
    from {
        box-shadow: 0 0 5px 2px rgb(190, 174, 204);
      }
      
      to {
        box-shadow: 0 0 10px 5px rgb(180, 134, 223);
      }
}

@keyframes tooltip {
    0% {opacity: 0}
    100% { opacity: 1}
}