.content {
    padding: 40px;
    font-size: 20px;
}

.highlight {
    background-color: #FCF5B9;
}

.highlight-found {
    background-color: #96FA9A;
}

.highlight-error {
    background-color: #FF9A94;
}

.centered {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.board {
    border: 1px solid black;
    display: flex;
    margin: auto;
}

.table-container {
    display: flex;
    margin: auto;
    width: 1000px;
    height: 400px;
}

.elements {
    table-layout: fixed;
    margin: auto;
    border-collapse: separate;
    border-spacing: 15px 0;
}

.elements td {
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
}

.value-row {
    font-size: 24px;
}

.index-row {
    font-size: 18px;
}

.value-block {
    border: 2px solid black;
    box-shadow: 2px 3px 3px #969696;
}

.hidden {
    display: none;
}

.input-container {
    border: 1px solid black;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    text-align: center;
    display: table;
    margin: auto;
    border-radius: 0.5rem;
}

.num-input {
    border: none;
    width: 10rem;
    text-align: center;
}

.btn {
    border: 2px solid black;
    transition-duration: 0.1s;
}

.btn:hover {
    background-color: var(--purple);
    color: white
}

.btn:hover .fa {
    color: white
}

/* maybe find a better way instead of forcing absolute positioning*/
.info {
    position: absolute;
    display: inline-block;
    right: 50px;
    width: 5em;
    z-index: 2;
}

.controls .btn {
    margin: 10px;
}

.btn .fa {
    margin-left: 0.5rem;
    color: var(--purple);
    transition-duration: 0.1s;
}

/* to remove spinners from number input box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
